header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-bottom: #a3ade3 2px solid;

}

.header__logo a {
    text-decoration: none;
    color: rgb(18, 27, 53);
    font-size: 3rem;
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.header__menu-icon img {
    width: 30px;
    height: auto;
    cursor: pointer;
}


.header__controls {
    display: flex;
    justify-content: flex-end;
}


.header__nav-links {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
}

.header__nav-item {
    text-align: center;
    padding: 15px;
}

.header__nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Maakt de lijst zichtbaar wanneer de "active" klasse via JavaScript wordt toegevoegd */
.header__nav-links.active {
    display: block;
}


@media (min-width: 768px) {

    header {
        padding: 4rem 3rem;

    }

    .header__menu-icon {
        display: none;
    }

    .header__logo a {
        display: flex ;
        font-size: 3rem;
        min-width: 22rem;
    }

    .header__nav-links {
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;

    }

    .header__nav-item {
        padding: 0 1rem;
    }



}