@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Itim&family=Oswald:wght@200..700&family=Playwrite+GB+S:wght@250&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Itim&family=Oswald:wght@200..700&family=Playwrite+GB+S:wght@250&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Fira mono', sans-serif;
    background-color: (hsla(0, 0%, 100%, 1));
    color: (hsla(223, 28%, 15%, 1));
}

.intro__content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 2rem;
}

.intro__content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.intro__content p {
    font-size: 2rem;
    max-width: 35rem;
}

.intro__buttons {
    text-decoration: none;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    display:flex;
    max-width:13rem ;
    min-height: 5rem;
    background-color:hsla(223, 100%, 84%, 1);
    border: none;
    font-size: 2rem;
}

.intro__buttons a {
    text-decoration: none;
    color:  rgb(18, 27, 53);
}
.intro__shape {
    display: none;
}
