header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: var(--subtle) 2px solid;
}

.header__logo a {
    text-decoration: none;
    color: var(--contrast);
    font-size: 3rem;
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__menu-icon {
    border: none;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    
}

.header__menu-icon img {
    max-width: 3rem;
    height: auto;
    cursor: pointer;
    
}

.moon-icon {
    min-width: 3rem;
    margin-left: 2rem;

}

.dark-mode .moon-icon{
    display:none
}

.sun-icon{
    min-width: 5rem;
    padding-left: 2rem;
    display: none;
}

.dark-mode .sun-icon{
    display:block
}

.header__nav-links {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100vh;
}

.header__nav-item {
    text-align: center;
    padding: 15px;
    border: var(--shade) 1px solid;
}

.header__nav-item a {
    text-decoration: none;
    color: var(--contrast);
    font-size: 3rem;
    font-weight: 600;
}

.header__nav-item a:hover {
    text-decoration: underline;
}

/* Maakt de lijst zichtbaar wanneer de "active" klasse via JavaScript wordt toegevoegd */
.header__nav-links.active {
    z-index: 11;
    display: block;
    background-color: var(--subtle);
}


@media (min-width: 768px) {
    header {
        padding: 4rem 3rem;
    }

    #menu-icon {
        display: none;
    }

    .header__logo a {
        display: flex;
        font-size: 3rem;
        min-width: 22rem;
    }

    .header__nav-links {
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        height: auto;
        gap: 1rem;
    }

    .header__nav-item {
        padding: 0 1rem;
        border: none;
    }

    .header__nav-item a {
        font-weight: 400;
    }

    .moon {
        display: block;
    }
}